* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #201e1e;
}
.container {
  display: flex;
  height: 100%;
}
.menu {
  text-decoration: none;
  list-style: none;
  height: 100%;
  border-right: 1px solid #000;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  color: #888787;
}
.menu > li {
  min-width: 100px;
  padding: 10px;
}
.menu > li:hover {
  cursor: pointer;
  background-color: #252525;
}
.menu > li.active {
  background-color: #2f2f2f;
}

.result-wrap {
  flex: 1;
  display: flex;
}
.code-wrap {
  width: 50%;
  border-right: 1px solid;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}
#code {
  flex: 1;
}
.title {
  text-align: center;
  color: #868585;
  font-size: 24px;
  font-weight: 800;
  border-bottom: 1px solid #4c4b4b;
  margin-bottom: 20px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.title img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.canvas-wrap {
  display: flex;
}
.canvas-wrap canvas {
  border: 2px solid #a2a2a2;
  width: 80%;
  margin: auto;
}
